Repository hojas/nest-react-full-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint

.lintstagedrc:

{
  "*.{js,vue}": "npm run lint",
  "*.{css,vue}": "stylelint"
}

add README
  README.md
  package-lock.json
  package.json
Due: none

add category module
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/article/article.controller.spec.ts
  src/article/article.controller.ts
  src/article/article.dto.ts
  src/article/article.entity.ts
  src/article/article.module.ts
  src/article/article.service.ts
  src/auth/auth.controller.ts
  src/category/admin.controller.ts
  src/category/category.controller.spec.ts
  src/category/category.controller.ts
  src/category/category.dto.ts
  src/category/category.entity.ts
  src/category/category.module.ts
  src/category/category.service.ts
  src/user/admin.controller.ts
Due: none

update npm packages
  package-lock.json
  package.json
Due: none

add Dockerfile
  .env
  Dockerfile
  docker-compose.yml
  ormconfig.json
  src/app.module.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/jwt-constants.ts
  src/modules/auth/strategies/github.strategy.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/user-role/user-role.controller.ts
  src/modules/user-role/user-role.dto.ts
  src/modules/user-role/user-role.entity.ts
  src/modules/user-role/user-role.module.ts
  src/modules/user-role/user-role.service.ts
  src/modules/user/user.service.ts
Due: none

add comment module
  package-lock.json
  src/app.module.ts
  src/modules/article/article.controller.ts
  src/modules/category/admin.controller.ts
  src/modules/comment/admin.controller.ts
  src/modules/comment/comment.controller.spec.ts
  src/modules/comment/comment.controller.ts
  src/modules/comment/comment.dto.ts
  src/modules/comment/comment.entity.ts
  src/modules/comment/comment.module.ts
  src/modules/comment/comment.service.ts
  src/modules/role/admin.controller.ts
  src/modules/role/role.module.ts
Due: none

add nginx config
  Dockerfile
  nginx/nginx.conf
  src/modules/comment/comment.controller.ts
Due: none

add api /auth/user
  .env
  src/modules/auth/auth.controller.ts
Due: none

fix update category
  package-lock.json
  package.json
  src/modules/category/admin.controller.ts
Due: none

use cookie parser
  package-lock.json
  package.json
  src/main.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/category/admin.controller.ts
  src/modules/category/category.service.ts
Due: none

fix entities
  docker-compose.yml
  src/modules/article/admin.controller.ts
  src/modules/article/article.controller.ts
  src/modules/article/article.dto.ts
  src/modules/article/article.entity.ts
  src/modules/article/article.service.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/category/category.dto.ts
  src/modules/comment/admin.controller.ts
  src/modules/comment/comment.controller.ts
  src/modules/comment/comment.dto.ts
  src/modules/comment/comment.entity.ts
  src/modules/comment/comment.service.ts
  src/modules/role/role.controller.spec.ts
  src/modules/role/role.dto.ts
  src/modules/user/admin.controller.ts
  src/modules/user/user.dto.ts
  src/modules/user/user.entity.ts
  src/modules/user/user.service.ts
  src/types/pagination.ts
Due: none

fix find articles
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  src/modules/article/article.controller.ts
  src/modules/article/article.service.ts
  src/modules/category/category.service.ts
Due: none

upgrade packages
  .eslintrc.js
  Dockerfile
  package-lock.json
  package.json
  src/modules/category/category.controller.ts
Due: npm run lint

add eslint-plugin-prettier
  package-lock.json
  package.json
  src/modules/article/article.controller.ts
  src/modules/role/role.service.ts
Due: none

initial commit
  .editorconfig
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  README.md
  apps/.gitkeep
  apps/api-server/.eslintrc.json
  apps/api-server/jest.config.ts
  apps/api-server/project.json
  apps/api-server/src/app/.gitkeep
  apps/api-server/src/app/app.controller.spec.ts
  apps/api-server/src/app/app.controller.ts
  apps/api-server/src/app/app.module.ts
  apps/api-server/src/app/app.service.spec.ts
  apps/api-server/src/app/app.service.ts
  apps/api-server/src/assets/.gitkeep
  apps/api-server/src/environments/environment.prod.ts
  apps/api-server/src/environments/environment.ts
  apps/api-server/src/main.ts
  apps/api-server/tsconfig.app.json
  apps/api-server/tsconfig.json
  apps/api-server/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  libs/.gitkeep
  nx.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
  tools/tsconfig.tools.json
  tsconfig.base.json
  workspace.json
Due: npm run lint

fix(deps): update deps
  LICENSE
  README.md
  nx.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

remove types
  types/axios.d.ts
Due: none

fix: admin category hooks
  .prettierrc
  deploy/admin.Dockerfile
  deploy/api-server.Dockerfile
  deploy/docker-compose.yml
  deploy/frontend.Dockerfile
  libs/admin/modules/category/src/lib/category-form.tsx
  libs/admin/modules/category/src/lib/category.tsx
  libs/admin/modules/category/src/lib/useCategory.ts
  libs/admin/modules/category/src/lib/useModal.ts
  package.json
  pnpm-lock.yaml
Due: none

feat(admin): article management
  apps/admin/src/app/app.tsx
  deploy/Dockerfile.admin
  deploy/Dockerfile.api-server
  deploy/Dockerfile.frontend
  deploy/docker-compose.yml
  libs/admin/modules/article/src/index.ts
  libs/admin/modules/article/src/lib/admin-modules-article.module.scss
  libs/admin/modules/article/src/lib/admin-modules-article.spec.tsx
  libs/admin/modules/article/src/lib/admin-modules-article.tsx
  libs/admin/modules/article/src/lib/article-form.tsx
  libs/admin/modules/article/src/lib/article-modal.tsx
  libs/admin/modules/article/src/lib/article.service.ts
  libs/admin/modules/article/src/lib/article.tsx
  libs/admin/modules/article/src/lib/useArticle.ts
  libs/admin/modules/article/src/lib/useModal.ts
  libs/admin/modules/category/src/index.ts
  libs/admin/modules/category/src/lib/category.service.ts
  libs/admin/modules/category/src/lib/category.tsx
  libs/admin/modules/comment/.babelrc
  libs/admin/modules/comment/.eslintrc.json
  libs/admin/modules/comment/README.md
  libs/admin/modules/comment/jest.config.ts
  libs/admin/modules/comment/package.json
  libs/admin/modules/comment/project.json
  libs/admin/modules/comment/src/index.ts
  libs/admin/modules/comment/src/lib/comment.tsx
  libs/admin/modules/comment/tsconfig.json
  libs/admin/modules/comment/tsconfig.lib.json
  libs/admin/modules/comment/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: none

chore: remove .vscode
  .gitignore
  .vscode/extensions.json
Due: none

feat(admin): comment management
  libs/admin/modules/article/src/lib/useModal.ts
  libs/admin/modules/comment/src/lib/comment.service.ts
  libs/admin/modules/comment/src/lib/comment.tsx
  libs/admin/modules/comment/src/lib/useComment.ts
Due: none

feat(admin): role management
  apps/admin/src/app/app.tsx
  libs/admin/modules/role/.babelrc
  libs/admin/modules/role/.eslintrc.json
  libs/admin/modules/role/README.md
  libs/admin/modules/role/jest.config.ts
  libs/admin/modules/role/package.json
  libs/admin/modules/role/project.json
  libs/admin/modules/role/src/index.ts
  libs/admin/modules/role/src/lib/role.service.ts
  libs/admin/modules/role/src/lib/role.tsx
  libs/admin/modules/role/src/lib/useRole.ts
  libs/admin/modules/role/tsconfig.json
  libs/admin/modules/role/tsconfig.lib.json
  libs/admin/modules/role/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: none

admin article content
  .editorconfig
  apps/api-server/src/app.module.ts
  libs/admin/layout/src/lib/admin-layout.tsx
  libs/admin/modules/article/src/lib/article-content.tsx
  libs/admin/modules/article/src/lib/article-form.tsx
  libs/admin/modules/article/src/lib/article.tsx
  libs/admin/modules/category/src/lib/category.tsx
  libs/shared/markdown-editor/.babelrc
  libs/shared/markdown-editor/.eslintrc.json
  libs/shared/markdown-editor/README.md
  libs/shared/markdown-editor/jest.config.ts
  libs/shared/markdown-editor/package.json
  libs/shared/markdown-editor/project.json
  libs/shared/markdown-editor/src/index.ts
  libs/shared/markdown-editor/src/lib/markdown-editor.tsx
  libs/shared/markdown-editor/src/lib/style.css
  libs/shared/markdown-editor/tsconfig.json
  libs/shared/markdown-editor/tsconfig.lib.json
  libs/shared/markdown-editor/tsconfig.spec.json
  libs/shared/markdown-viewer/.babelrc
  libs/shared/markdown-viewer/.eslintrc.json
  libs/shared/markdown-viewer/README.md
  libs/shared/markdown-viewer/jest.config.ts
  libs/shared/markdown-viewer/package.json
  libs/shared/markdown-viewer/project.json
  libs/shared/markdown-viewer/src/index.ts
  libs/shared/markdown-viewer/src/lib/markdown-viewer.tsx
  libs/shared/markdown-viewer/tsconfig.json
  libs/shared/markdown-viewer/tsconfig.lib.json
  libs/shared/markdown-viewer/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: stylelint

fix frontend
  .env
  apps/frontend/.env
  apps/frontend/next.config.js
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/_document.tsx
  apps/frontend/src/pages/article/[id].tsx
  apps/frontend/src/pages/category/[id].tsx
  apps/frontend/src/pages/index.tsx
  deploy/docker-compose.yml
  libs/api-server/modules/category/src/lib/admin.controller.ts
  libs/api-server/modules/user/src/lib/user.service.ts
  libs/frontend/layout/src/lib/base-header.tsx
  libs/frontend/modules/article/src/lib/article-details.tsx
  libs/frontend/modules/home/src/lib/home.tsx
  libs/frontend/ui/src/index.ts
  libs/frontend/ui/src/lib/markdown-viewer.tsx
  libs/shared/axios/src/lib/axios.ts
Due: npm run lint

add daisyui
  .eslintrc.json
  apps/admin/src/styles.css
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/login.tsx
  apps/frontend/src/pages/styles.css
  apps/frontend/tailwind.config.js
  libs/api-server/modules/auth/src/lib/auth.service.ts
  libs/api-server/modules/auth/src/lib/jwt.strategy.ts
  libs/frontend/layout/src/lib/base-footer.tsx
  libs/frontend/layout/src/lib/base-header.tsx
  libs/frontend/layout/src/lib/base-layout.tsx
  libs/frontend/modules/login/.babelrc
  libs/frontend/modules/login/.eslintrc.json
  libs/frontend/modules/login/README.md
  libs/frontend/modules/login/jest.config.ts
  libs/frontend/modules/login/package.json
  libs/frontend/modules/login/project.json
  libs/frontend/modules/login/src/index.ts
  libs/frontend/modules/login/src/lib/login.service.ts
  libs/frontend/modules/login/src/lib/login.tsx
  libs/frontend/modules/login/tsconfig.json
  libs/frontend/modules/login/tsconfig.lib.json
  libs/frontend/modules/login/tsconfig.spec.json
  libs/frontend/ui/src/lib/article-item.tsx
  libs/frontend/ui/src/lib/article-list.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: npm run lint, stylelint

fix: Dockerfile
  .dockerignore
  .env
  apps/admin/project.json
  apps/admin/src/server.js
  apps/admin/webpack.config.js
  apps/frontend/.env
  deploy/Dockerfile.admin
  deploy/Dockerfile.api-server
  deploy/Dockerfile.frontend
  docker-compose.yml
  docker/Dockerfile.admin
  docker/Dockerfile.api-server
  docker/Dockerfile.frontend
  libs/admin/modules/article/src/lib/article-form.tsx
  libs/admin/modules/category/src/lib/category-form.tsx
Due: npm run lint

fix: env file
  README.md
  docker-compose.yml
Due: none

add Makefile
  Makefile
  apps/admin/src/server.js
  docker/Dockerfile.web
  docker/Makefile
Due: npm run lint

fix: admin base path
  apps/admin/project.json
  apps/admin/src/main.tsx
Due: none
